<div>
  <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-12">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" href="#"> NaturalVerde </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <div ngbDropdown >
              <a   class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Grupos </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem [routerLink]="['/services']">Ver Grupos</button>
                <button ngbDropdownItem [routerLink]="['/addServices']" >Crear Grupo</button>
              </div>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/userPage']">Usuarios</a>
            </li>



          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/userAdd']" >Registrar</a>
          </li>



        </ul>
      </div>
    </div>
  </nav>

</div>
