<div class="modal-header">
    <h4 class="modal-title">¿Desea eliminar este usuario?</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cancelar</button>
    <button type="button" class="btn btn-f-green" (click)="formatAndDismiss()">Eliminar</button>
  </div>
