<div class="modal-header">
    <h4 class="modal-title">Actualizar Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form" [formGroup]="_userForm">
      <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="USER_NAME">Nombre</label>
                <input type="text" class="form-control"formControlName="USER_NAME" id="GROUP_NAME" required>
              </div>

              <div class="form-group">
                <label for="EMAIL">Correo electronico</label>
                <input type="email" class="form-control" formControlName="EMAIL" id="EMAIL" required>
              </div>

              <div class="form-group">
                <label for="ADDRESS">Dirección</label>
                <input type="text" class="form-control" formControlName="ADDRESS" id="ADDRESS" required>
              </div>

              <div *ngIf="type.id === 2" class="form-group">
                <label for="TYPE_ID">Tipo de usuario</label>
                <select
                  class="form-control"
                  formControlName="TYPE_ID"
                 >
                  <option
                  value="1">
                    Cliente
                  </option>
                  <option
                  value="2">
                    Empleado
                  </option>
                </select>
              </div>

              <div *ngIf="type.id === 2" class="form-group">
                  <label for="GROUP_ID">Seleccione Grupo</label>
                  <select
                    class="form-control"
                    formControlName="GROUP_ID"
                   >
                    <option *ngFor="let group of groups$ | async"
                    value="{{ group.ID }}"
                    [disabled]="group.ID === 0">
                      {{group.ID === 0 ? 'Seleccione' : group.GROUP_NAME}}
                    </option>
                  </select>
                </div>


        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cancelar</button>
    <button type="button" class="btn btn-f-green" (click)="formatAndDismiss()">Guardar</button>
  </div>
