<div class="container m-4">
  <h2>Creación de grupo</h2>
  <form  [formGroup]="_groupForm">
    <div class="form-group">
      <label for="GROUP_NAME">Nombre del grupo</label>
      <input type="text" class="form-control"formControlName="GROUP_NAME" id="GROUP_NAME" required>
    </div>



    <div class="form-group">
      <label for="GRUOP_STATUS_ID">Estado del grupo</label>
      <select
        class="form-control"
        formControlName="GRUOP_STATUS_ID"
       required>
        <option
        value="1">
          Disponible
        </option>
        <option
        value="0">
          No disponible
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="GROUP_DESCRIPTION">Descripción del grupo</label>
      <textarea type="text" class="form-control" formControlName="GROUP_DESCRIPTION" id="GROUP_DESCRIPTION" required></textarea>
    </div>

    <button type="button" (click)="addGroup()" class="btn btn-success">Agregar grupo</button>

  </form>
</div>
