

span{
  font-size:15px;
}
a{
text-decoration:none;
color: #0062cc;
border-bottom:2px solid #0062cc;
}
.box{
  padding:60px 0px;


}

.cards-category {
  width: 100%;
  display: flex;
  /* grid-template-columns: repeat(12, 1fr); */
  /* column-gap: 1rem; */
  flex-wrap: wrap;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
  border: solid 1px #54D400;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}
