
<div  class="host -m-4">
<div class="card-columns">
  <div   *ngFor="let group of groups | async " class="card">

      <div class="box-part text-center">
    <i class="fa fa-tree fa-3x" aria-hidden="true"></i>
    <div class="card-body">
      <h5 class="card-title">{{ group.GROUP_NAME }}</h5>
      <p class="card-text">{{group.GROUP_DESCRIPTION}}</p><br>
      <p class="card-text">{{statusRed[group.GRUOP_STATUS_ID] }}</p>
    </div>
    <button class="btn btn-primary">Ver</button>
    </div>

  </div>
</div>
</div>
