<app-spinner *ngIf="stateSpinner"></app-spinner>
<div class="m-4">
<h2>Lista de usuarios</h2>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Dirección</th>
        <th scope="col">Tipo de usuario</th>
        <th scope="col">Grupo</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users$ | async">
      <tr>
        <td>{{user.USER_NAME}}</td>

        <td>{{user.EMAIL}}</td>

        <td>{{user.ADDRESS}}</td>

          <td>{{typeRed[user.TYPE_ID].description}}</td>

          <td>{{groupRed[user.GROUP_ID].GROUP_NAME  === 'users'? 'Usuarios' : groupRed[user.GROUP_ID].GROUP_NAME}}</td>
          <td><button class="btn btn-success" (click)=editUserModal(user.USER_ID,user.TYPE_ID)>Editar</button></td>
          <td><button class="btn btn-success" (click)=deleteUserModal(user.USER_ID,user.TYPE_ID)>Eliminar</button></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
