<app-spinner *ngIf="stateSpinner"></app-spinner>
<div class="container m-4">
  <h2>Registro de usuario</h2>
  <form  [formGroup]="_userForm">
    <div class="form-group">
      <label for="USER_NAME">Nombre</label>
      <input type="text" class="form-control"formControlName="USER_NAME" id="GROUP_NAME" required>
    </div>

    <div class="form-group">
      <label for="EMAIL">Correo electronico</label>
      <input type="email" class="form-control" formControlName="EMAIL" id="EMAIL" required>
    </div>

    <div class="form-group">
      <label for="ADDRESS">Dirección</label>
      <input type="text" class="form-control" formControlName="ADDRESS" id="ADDRESS" required>
    </div>

    <div class="form-group">
      <label for="PASSWORD">Contraseña</label>
      <input type="password" class="form-control" formControlName="PASSWORD" id="PASSWORD" required>
    </div>

    <div class="form-group">
      <label for="TYPE_ID">Tipo de usuario</label>
      <select
        class="form-control"
        formControlName="TYPE_ID"
        (change)="changeOption($event)"
       >
        <option
        value="1">
          Cliente
        </option>
        <option
        value="2">
          Empleado
        </option>
      </select>
    </div>

    <div *ngIf="optionValue === 2" class="form-group">
      <label for="GROUP_ID">Seleccione Grupo</label>
      <select
        class="form-control"
        formControlName="GROUP_ID"
       >
        <option *ngFor="let group of groups | async"
        value="{{ group.ID }}"
        [disabled]="group.ID === 0">
          {{group.ID === 0 ? 'Seleccione' : group.GROUP_NAME}}
        </option>
      </select>
    </div>

    <button type="button" class="btn btn-success" (click)="addUser()">Agregar grupo</button>

  </form>
  <notifier-container></notifier-container>
</div>
